<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>About 3D Imagination</h1>
<p>We can print anything that you desire. We do everything from Super heros to small toys. Let your imagination take over and print away!</p>
</body>
</html>